@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    display: grid;
    place-items: center;
    background-color: #4682B4;
}

.wrapper {
    background-color: #eeee;
    height: 250px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 .8rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper.active {
    height: 300px;
    padding-right: 50px;
}

.wrapper.active .header h1 {
    font-size: 2.5rem;
}

.header .form {
    padding-left: 50px;
    margin-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.wrapper .header h1 {
    font-size: 3rem;
    text-align: center;
}

.wrapper .header p {
    font-size: 1.6rem;
    margin-bottom: 5px;
    text-align: center;
}

.wrapper .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.wrapper .form input {
    background-color: transparent;
    width: 100%;
    outline: none;
    height: 40px;
    margin-bottom: 2rem;
    border: none;
    border-bottom: 0.3rem solid #4682B4;
}

.wrapper .form input::placeholder {
    padding-left: .5rem;
    color: black;
}

.wrapper .form button {
    width: 100%;
    height: 40px;
    background-color: #4682B4;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #eee;
    cursor: pointer;
}

.wrapper .form button:hover {
    border: .1rem solid rgba(#4682B4);
    color: #4682B4;
    background-color: transparent;
    font-weight: bolder;

}

.wrapper .qr-code {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 10px;
    border-radius: 5px;
    pointer-events: none;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
}

.wrapper .qr-code img {
    width: 170px;
}

.wrapper.active .qr-code {
    display: block;
    transition: all .5s .5s ease;
}